<article class="post">
    <header>
        <a href="{{ include.post.url | prepend: site.baseurl }}">
            <h1 class="post-title">{{ include.post.title }}</h1>
        </a>
        <time datetime="{{ include.post.date | date_to_xmlschema }}" class="post-date">{{ include.post.date | date: "%A, %B %-d, %Y" }}</time>
    </header>
    <div class="post-body">
        {% if include.post.location %}<a href="http://www.openstreetmap.org/search?query={{ include.post.location }}" target="_blank" class="post-body-location">{{ include.post.location }}</a><span class="post-body-location-divider">—</span>{% endif %}{{ include.content }}
    </div>
    <footer class="post-footer">
        {% if include.post.location %}<a href="http://www.openstreetmap.org/search?query={{ include.post.location }}" target="_blank" class="post-footer-location">{{ include.post.location }}</a>{% endif %}
    </footer>
</article>
