<!DOCTYPE html>
<html>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/libre-caslon-text" type="text/css"/> 
    {% include head.html %}
    <body class="is-offset {% unless site.typekit_kit_id %}wf-inactive{% endunless %}">
    
     
       {% include header.html %}
      
    <section role="main">
          {{ content }}
      </section>
      
        {% include footer.html %}
      
      
        <script type="text/javascript" src="{{ site.baseurl }}/js/galileo.js"></script>
        
  
