---
layout: default
---
<article class="post">
   <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/libre-caslon-display" type="text/css"/> 

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
   </header>
   
   <div class="post-content">
      {{content}}
   </div>


