---
layout: default
---
 <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/libre-caslon-display" type="text/css"/> 

 {% include post.html post=page content=content %}

 <footer>
  <div style="margin-bottom:10px;">
    <div xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#" style="display:inline-block;">
      <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">
        <img src="/images/by-sa.svg" style="border-style: none;" alt="CC BY SA" />
      </a>
    </div>
    <div style="float:right; margin-bottom:10px;"><script src="https://liberapay.com/Xav.CC/widgets/button.js"></script></div>
</div>
</footer>
